In [58]:
import psycopg2
from psycopg2 import Error

In [2]:
try:
    conn = psycopg2.connect("dbname=studentdb user=student")
except Error as e:
    print("Error: Could not make connection to the database")
    print(e)

In [3]:
try:
    cur = conn.cursor()
except Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

In [4]:
conn.set_session(autocommit=True)

In [10]:
try:
    cur.execute('create table if not exists music_library (album_id int, \
                                                           album_name varchar, \
                                                           artist_name varchar, year int, songs text[]);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [11]:
data = [
    (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]),
    (2, "Let It Be", "The Beatles", 1970, ["Let It Be", "Accross The Universe"])
]

In [12]:
for row in data:
    try:
        cur.execute('insert into music_library (album_id, album_name, artist_name, year, songs) \
                                                values (%s, %s, %s, %s, %s)', row)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [13]:
try:
    cur.execute('select * from music_library')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let It Be', 'The Beatles', 1970, ['Let It Be', 'Accross The Universe'])

In [ ]:
{
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#### Moving to 1st Normal Form (1NF)\n",
    " of data. We need to break up the list of songs into individuals rows. \n",
    "\n",
    "\n",
    "`Table Name: music_library2\n",
    "column 0: Album Id\n",
    "column 1: Album Name\n",
    "column 2: Artist Name\n",
    "column 3: Year \n",
    "column 4: Song Name`\n",
    "\n",
    "<img src=\"images/table2.png\" width=\"650\" height=\"650\">"
   ]
  },

1. How to reach First Normal Form (1NF):

    Atomic values: each cell contains unique and single values
    Be able to add data without altering tables
    Separate different relations into different tables
    Keep relationships between tables together with foreign keys

2. Second Normal Form (2NF):
    
    Have reached 1NF
    All columns in the table must rely on the Primary Key

3. Third Normal Form (3NF):
    Must be in 2nd Normal Form
    No transitive dependencies
    Remember, transitive dependencies you are trying to maintain is that to get from A-> C, 
    you want to avoid going through B.

## Moving to 1st Normal Form (1NF)

This data has not been normalized. 
To get this data into 1st normal form, we will need to remove any collections or list

"`Table Name: music_library2
    "column 0: Album Id
    "column 1: Album Name
    "column 2: Artist Name
    "column 3: Year
    "column 4: Song Name

In [26]:
try:
    cur.execute('create table if not exists music_library2 (album_id int, \
                                                           album_name varchar, \
                                                           artist_name varchar, year int, song_name varchar);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [27]:
data2 = [
    (1, "Rubber Soul", "The Beatles", 1965, "Michelle"),
    (1, "Rubber Soul", "The Beatles", 1965, "Think For Yourself"),
    (1, "Rubber Soul", "The Beatles", 1965, "In My Life"),
    (2, "Let It Be", "The Beatles", 1970, "Let It Be"),
    (2, "Let It Be", "The Beatles", 1970, "Accross The Universe")
]

In [28]:
for row in data2:
    try:
        cur.execute('insert into music_library2 (album_id, album_name, artist_name, year, song_name) \
                                                values (%s, %s, %s, %s, %s)', row)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [29]:
try:
    cur.execute('select * from music_library2')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 'Accross The Universe')

Now the table is in 1NF. 
Each colunm has an atomic value:  unique and single value
Each row is unique

## Moving to 2nd Normal Form (2NF)

We have moved our data to be in 1NF which is the first step in moving to 2nd Normal Form. 
Our table is not yet in 2nd Normal Form. 
While each of our records in our table is unique, 
our Primary key (*album id*) is not unique. 
We need to break this up into two tables, *album library* and *song library*",

    "`Table Name: album_library \n",
    "column 0: Album Id\n",
    "column 1: Album Name\n",
    "column 2: Artist Name\n",
    "column 3: Year `\n",
    "\n",
    "`Table Name: song_library\n",
    "column 0: Song Id\n",
    "column 1: Song Name\n",
    "column 3: Album Id` \n",

### create album_library table

In [23]:
try:
    cur.execute('create table if not exists album_library (album_id int, \
                                                           album_name varchar, \
                                                           artist_name varchar, year int);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

### create song_library table

In [41]:
try:
    cur.execute('create table if not exists song_library (song_id int, \
                                                        album_id int, song_name varchar);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [30]:
album_lib = [
    (1, "Rubber Soul", "The Beatles", 1965),
    (2, "Let It Be", "The Beatles", 1970)
]

In [39]:
song_lib = [
    (1, 1, "Michelle"),
    (2, 1, "Think For Yourself"),
    (3, 1, "In My Life"),
    (4, 2, "Let It Be"),
    (5, 2, "Accross The Universe")
]

### Insert rows

In [32]:
for album in album_lib:
    try:
        cur.execute('insert into album_library (album_id, album_name, artist_name, year) \
                                                values (%s, %s, %s, %s)', album)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [42]:
for song in song_lib:
    try:
        cur.execute('insert into song_library (song_id, album_id, song_name) \
                                                values (%s, %s, %s)', song)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [43]:
cur.execute('select * from album_library')
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let It Be', 'The Beatles', 1970)

In [50]:
cur.execute('select * from song_library')
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let It Be')
(5, 2, 'Accross The Universe')

### Try running a Join using the column they both share

In [45]:
try:
    cur.execute('select * from album_library join \
                            song_library on album_library.album_id = song_library.album_id')
except Error as e:
        print("Error: Issue joining ")
        print(e)

In [46]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, 1, 1, 'Michelle')
(1, 'Rubber Soul', 'The Beatles', 1965, 2, 1, 'Think For Yourself')
(1, 'Rubber Soul', 'The Beatles', 1965, 3, 1, 'In My Life')
(2, 'Let It Be', 'The Beatles', 1970, 4, 2, 'Let It Be')
(2, 'Let It Be', 'The Beatles', 1970, 5, 2, 'Accross The Universe')

## Moving to 3rd Normal Form (3NF)

Check our table for any transitive dependencies. 
*Album_library* can move *Artist_name* to its own table, called *Artists*, 
which will leave us with 3 tables.

    "`Table Name: album_library2 \n",
    "column 0: Album Id\n",
    "column 1: Album Name\n",
    "column 2: Artist Id\n",
    "column 3: Year `\n",
    "\n",
    "`Table Name: song_library\n",
    "column 0: Song Id\n",
    "column 1: Song Name\n",
    "column 3: Album Id`\n",
    "\n",
    "`Table Name: artist_library\n",
    "column 0: Artist Id\n",
    "column 1: Artist Name `\n",

In [56]:
try:
    cur.execute('create table if not exists album_library2 (album_id int, \
                                                        album_name varchar, artist_id int, year int);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [48]:
try:
    cur.execute('create table if not exists song_library (song_id int, \
                                                        album_id int, song_name varchar);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [49]:
try:
    cur.execute('create table if not exists artist_library (artist_id int, \
                                                        artist_name varchar);')
except Error as e:
    print("Error: Issue creating Table")
    print(e)

In [60]:
album_lib2 = [
    (1, "Rubber Soul", 1, 1965),
    (2, "Let It Be", 1, 1970)
]

In [52]:
artist_lib = [
    (1, "The Beatles"),
]

In [61]:
for album in album_lib2:
    try:
        cur.execute('insert into album_library2 (album_id, album_name, artist_id, year) \
                                                values (%s, %s, %s, %s)', album)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [63]:
for artist in artist_lib:
    try:
        cur.execute('insert into artist_library (artist_id, artist_name) \
                                                values (%s, %s)', artist)
    except Error as e:
        print("Error: Issue inserting Rows")
        print(e)

In [64]:
cur.execute('select * from album_library2')
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 1, 1965)
(2, 'Let It Be', 1, 1970)

In [65]:
cur.execute('select * from artist_library')
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'The Beatles')

### Join the three tables

In [67]:
try:
    cur.execute('select * from artist_library join album_library2 \
                            on artist_library.artist_id = album_library2.artist_id join \
                                song_library on album_library2.album_id = song_library.album_id')
except Error as e:
        print("Error: Issue joining ")
        print(e)

In [68]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 1, 1, 'Michelle')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 2, 1, 'Think For Yourself')
(1, 'The Beatles', 1, 'Rubber Soul', 1, 1965, 3, 1, 'In My Life')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 4, 2, 'Let It Be')
(1, 'The Beatles', 2, 'Let It Be', 1, 1970, 5, 2, 'Accross The Universe')

In [71]:
try:
    cur.execute("DROP table music_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)
try:
    cur.execute("DROP table music_library2")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e),
try:
    cur.execute("DROP table album_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)
try:
    cur.execute("DROP table song_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)
try:
    cur.execute("DROP table album_library2")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)
try:
    cur.execute("DROP table artist_library")
except psycopg2.Error as e:
    print("Error: Dropping table")   
    print(e)

In [72]:
cur.close()
conn.close()